@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: white;
  font-family: 'Outfit', sans-serif;
  user-select: none;
  min-height: 100vh;
}

.background {
  width: 100%;
  min-height: 100vh;
  background-image: url(../image/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

.main-container {
  max-width: 90%;
  min-width: 50%;
  margin-inline: auto;
}

.logo img {
  text-align: left;
  width: 250px;
  cursor: pointer;
  padding: 2rem 0px;
}

main {
  text-align: center;
}

h1 {
  font-family: Outfit, sans-serif;
  font-size: 6rem;
  font-weight: 300;
  padding: 4rem 0px 3rem;
}
h1 span {
  font-weight: 600;
}

ul {
  list-style: none;
}

main button {
  font-family: 'Outfit', 'Inter', sans-serif;
  background-color: transparent;
  box-shadow: 0px -1px 3px white;
  padding: 0.5rem;
  font-size: 1.4em;
  border-radius: 50%;
  color: white;
  width: 35%;
  margin: 3rem 1.5rem 1.5rem 3rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #efeeef4c;
}

button.selected {
  background-color: rgb(226, 43, 211);
}
