@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: white;
  font-family: 'Outfit', sans-serif;
  user-select: none;
  min-height: 100vh;
}

ul {
  list-style: none;
}

li {
  display: inline;
  padding: 0 0.3rem;
}

.background {
  width: 100%;
  min-height: 100vh;
  background-image: url(../image/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-container {
  margin-inline: auto;
  max-width: 90%;
  min-width: 50%;
}

main {
  text-align: center;
}

.logo img {
  text-align: left;
  width: 250px;
  padding: 2rem 0;
  cursor: pointer;
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
  padding: 4rem 0 3rem;
}

h3 {
  font-size: 2rem;
  font-weight: 200;
}

.stars {
  padding: 3rem 0 6rem;
  user-select: none;
}

.star {
  fill: #141c52;
  cursor: pointer;
}

.selectedStar {
  fill: #01feff;
}

.star:hover {
  stroke: #01feff;
  stroke-width: 1;
}

input,
button {
  font-family: 'Inter', sans-serif;
}

.write-comment {
  background-color: transparent;
  border: 3px solid transparent;
  border-bottom: 3px solid #b41288;
  width: 50%;
  margin: 2rem 0 4rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  color: white;
}

textarea:focus,
input:focus {
  outline: none;
  /*box-shadow: 0 0 10px #b41288;*/
}

.info {
  padding-bottom: 4rem;
}

.info a {
  text-decoration: none;
  color: black;
}
.info a:visited {
  text-decoration: none;
  color: black;
}

.button {
  padding: 1rem 3rem;
  font-weight: 700;
  border: 1px solid transparent;
  font-size: 1.3rem;
  cursor: pointer;
}

.button:hover {
  background-color: #01feff;
  box-shadow: 0 0 30px #01feff;
}

#submit-comment {
  font-family: 'Inter', sans-serif;
  padding: 0.5rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 1rem;
  border: 1px solid #efeeef;
  background-color: #efeeef45;
  color: #efeeef;
}

#submit-comment:hover {
  border: 1px solid transparent;
  background-color: #efeeef;
  color: black;
}

#submit-comment {
  display: none;
}

.write-comment:valid + #submit-comment {
  display: inline;
}
